<div class="container-fluid footer">
    <div class="wrapper">
   <div class="row">
       <div class="col-lg-4">
            <h2>Social Media</h2>
            <ul class="footerlinks">
                <li><a target="_blank" href="https://twitter.com/sadgehub"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a target="_blank" href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                <li><a target="_blank" href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                <li><a target="_blank" href="https://soundcloud.com/lucidityworldwide"><i class="fab fa-soundcloud"></i> Soundcloud</a></li>
                <li><a target="_blank" href="https://www.tiktok.com/@hoodmeals"><i class="fab fa-tiktok"></i> TikTok</a></li>
    </ul>
       </div>
       <div class="col-lg-4">
        <h2>Useful Links</h2>
        <ul class="footerlinks">
            <li><a target="_blank" href="https://knowyourmeme.com/memes/sadge"><i class="far fa-question-circle"></i> What is Sadge?</a></li>
            <li><a target="_blank" href="https://github.com/LeumasMymik/sadge"><i class="fab fa-github"></i> GitHub Repo</a></li>
            <li><a target="_blank" href="https://discord.gg/NqMncmbj"><i class="fab fa-discord"></i> Join our community</a></li>
            <li><a href="/legal/tos"><i class="fas fa-file-contract"></i> Our Terms</a></li>
        </ul>
   </div>
   <div class="col-lg-4">
    <h2>Contact Us</h2>
    <ul class="footerlinks">
        <li><a href="mailto:sadgehub@gmail.com"><i class="fas fa-envelope-open-text"></i> sadgehub@gmail.com</a></li>
            <li><a href="tel:818-818-8181"><i class="fas fa-mobile-alt"></i> (818) 818-8181</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i> 18111 Nordhoff St</a></li>
           
    </ul>
</div>
   </div>
   <div class="row justify-content-center">
       <p>&copy;  Copyright SadgeHub 2021, All Rights Reserved.</p>
   </div>
</div>   
</div>


</body>

</html>
