<div class="greenBox">
    <%- include('partials/header.ejs'); -%>
    <div class="container contentBlock">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <img class="img-fluid" src="/images/sadgehubT.png">
          <h2 class="center">Blogs</h2>
          <p class="center">Exclusive Sadge Blogs Coming Soon... </p>
  
        </div>
      </div>
    </div>
  </div>

  <div class="container contentBlock whiteBox">
      <div class="wrapper">
        <div class="row justify-content-center">

        </div>
      </div>
  </div>
  <%- include('partials/footer.ejs'); -%>
