<div class="greenBox">
  <%- include('partials/header.ejs'); -%>
  <div class="container contentBlock">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <img class="img-fluid" src="/images/sadgehubT.png">
        <h2 class="center">Merchandise</h2>
        <p class="center">The only spot for 100% authentic Sadge merch.</p>

      </div>
    </div>
  </div>
</div>


<div class="container-fluid contentBlock whitebox">
  <div class="wrapper">
    <div class="row justify-content-center">
      <h1>The Hub Collection</h1>
    </div>
    <div class="row justify-content-center">
      <h3>Rep the Hub everywhere you go <i class="fas fa-tint"></i></h3>
    </div>

    <div class="row clothes-border">
      <div class="col-lg-6">
        <img class="img-fluid grow" src="/images/shirt1.png">
      </div>
      <div class="col-lg-6">

        <h1>Shirt 1</h1>
        <blockquote> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum. </blockquote>
        <ul class="devlinks">
          <li><i class="fas fa-tags"></i> $24.99</a></li>
          <li class="buyBtnGap"><a class="buyBtn" href="#"><i class="fas fa-shopping-cart"></i> Purchase</a></li>

        </ul>
      </div>
    </div>
    <div class="row clothes-border">
      <div class="col-lg-6">
        <img class="img-fluid grow" src="/images/hoodie1.png">
      </div>
      <div class="col-lg-6">

        <h1>Hoodie 1</h1>
        <blockquote> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum. </blockquote>
        <ul class="devlinks">
          <li><i class="fas fa-tags"></i> $54.99</a></li>
          <li class="buyBtnGap"><a class="buyBtn" href="#"><i class="fas fa-shopping-cart"></i> Purchase</a></li>

        </ul>
      </div>
    </div>
    <div class="row clothes-border">
      <div class="col-lg-6">
        <img class="img-fluid" src="/images/hat1.png">
      </div>
      <div class="col-lg-6">

        <h1>Hat 1</h1>
        <blockquote> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum. </blockquote>
        <ul class="devlinks">
          <li><i class="fas fa-tags"></i> $19.99</a></li>
          <li class="buyBtnGap"><a class="buyBtn" href="#"><i class="fas fa-shopping-cart"></i> Purchase</a></li>

        </ul>
      </div>
    </div>



    <div class="row justify-content-center">
      <h1>The Sadge Collection</h1>
    </div>
    <div class="row justify-content-center">
      <h3>Rep your Hub <i class="fas fa-check-circle"></i></h3>
    </div>

    <div class="row clothes-border">
      <div class="col-lg-6">
        <img class="img-fluid grow" src="/images/shirt2.png">
      </div>
      <div class="col-lg-6">

        <h1>Shirt 2</h1>
        <blockquote> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum. </blockquote>
        <ul class="devlinks">
          <li><i class="fas fa-tags"></i> $24.99</a></li>
          <li class="buyBtnGap"><a class="buyBtn" href="#"><i class="fas fa-shopping-cart"></i> Purchase</a></li>

        </ul>
      </div>
    </div>
    <div class="row clothes-border">
      <div class="col-lg-6">
        <img class="img-fluid grow" src="/images/hoodie2.png">
      </div>
      <div class="col-lg-6">

        <h1>Hoodie 2</h1>
        <blockquote> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum. </blockquote>
        <ul class="devlinks">
          <li><i class="fas fa-tags"></i> $54.99</a></li>
          <li class="buyBtnGap"><a class="buyBtn" href="#"><i class="fas fa-shopping-cart"></i> Purchase</a></li>

        </ul>
      </div>
    </div>
    <div class="row clothes-border">
      <div class="col-lg-6">
        <img class="img-fluid" src="/images/hat2.png">
      </div>
      <div class="col-lg-6">

        <h1>Hat 2</h1>
        <blockquote> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum. </blockquote>
        <ul class="devlinks">
          <li><i class="fas fa-tags"></i> $19.99</a></li>
          <li class="buyBtnGap"><a class="buyBtn" href="#"><i class="fas fa-shopping-cart"></i> Purchase</a></li>

        </ul>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer.ejs'); -%>